 body {
            background-color: #f8f9fa;
        }
        header {
            background-color: #fff;
            border-bottom: 1px solid #dee2e6;
            box-shadow: 0 2px 4px rgba(0,0,0,.05);
        }
        .nav-link-custom {
            color: #FF5722;
            text-decoration: none;
            font-weight: 500;
        }
        .nav-link-custom:hover {
            color: #FF5722;
        }
        .profile-image {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

            /* Cambiar color de fondo al enfocar o pasar el mouse sobre elementos dropdown */
    .dropdown-item:focus, 
    .dropdown-item:hover {
        background-color: rgba(220, 53, 69, 0.1) !important; /* Rojo (danger) con opacidad */
        color: #dc3545 !important; /* Color de texto rojo (danger) */
    }
    
    /* Cambiar el color de foco de los botones dropdown */
    .dropdown-toggle:focus,
    .btn:focus,
    .btn:active,
    .btn:active:focus {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
        border-color: #dc3545 !important;
    }
    
    /* Eliminar el borde azul en los elementos activos */
    .dropdown-item.active, 
    .dropdown-item:active {
        background-color: #dc3545 !important;
        color: white !important;
    }