.bg-anel {
  background-size: cover;
  background-position: center;
}

  :root {
    --bs-primary:   #FF5722;
    --cui-primary:  #FF5722;
  }

  /* 2) Botones primary en naranja */
  .btn-primary {
    background-color: var(--bs-primary) !important;
    border-color:     var(--bs-primary) !important;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #e64a19 !important;
    border-color:     #e64a19 !important;
  }


  .form-control {
    border-color: var(--bs-primary) !important;
  }

  .form-control:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 .2rem rgba(255, 87, 34, .25) !important;
  }